@mixin logo {
    width: 200px;
    height: 130px;
    display: grid;
    align-content: center;
    background: url('/logo.png') no-repeat center;
    background-size: contain;
}

.logo {
    @include logo;
}