@media (max-width: 991px) {
    .toggleFill{
        background-color: white;
        position:absolute;
        top: 0;
        left: 5px;
        transform: translateY(1.2vh);
    }
  }
 
  .navBg{
      background-color:white!important;
  }